html, body {
    background: black;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI Historic','Segoe UI';

}





#menu-overlay{
    /* as informações foram retiradas e modificadas de https://www.w3schools.com/howto/howto_css_overlay.asp */
    position: fixed; /* Sit on top of the page content */
    display: flex; 
    width: 100%; /* Full width (cover the whole page) */
    height: 6.5%; /* O valor de 6.5% foi retirado de um monitor de 21 polegadas, em que o menu tem 64pixels e toda a visualização tem 954px */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #11ffee00; /* Fundo totalmente transparente */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
     /* Add a pointer on hover */
    flex-direction: row;
    align-items: center;
}
.menu-container{
    display: inline;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 1vw;
}

.col {
    flex:1 1 20%;
}

.first-column-menu{
    justify-content: left;
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-left:1.5vw;
}
.right-column-menu{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding-right: 1vw;
}
.icon-button{
    border: 0; 
    background: transparent;
    padding:0px;
}

.icon{
    margin: -0.2vw;
    width: 1.4vw;
    height: 1.4vw;
    flex: 1;
}

.circle-icon{
    border-radius: 90%;
    background:  #3E4042;
    border: 3px solid   #3E4042;
}


#logo{
    padding: 0;
    width:auto;
    height:auto;
}

#view-flexbox{
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100vw; /* Full width (cover the whole page) */
    height: 100vh;
}

#main-col{
    flex:4.35;
    width:100%;
    height: 100%;
}

#secondary-col{
    background-color: #242526;
    flex:1;
    width:100%;
    height: 100%;
}

.post{
    flex-direction: column;
}

#upper-part-post{
    flex:1;
    height: 6vh;
    border-bottom: 1px solid #3E4042;
}


#main-part-post{
    flex:14;
}

#main-title-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1vh 1vw 1vh 1vw;
    width: 100%;
    gap:0px;
}

#inner-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#user-title{
    flex: 0;
    color: #E4E6EB ;
    font-size:15px ;
    font-weight: bolder;
}

.data{
    margin: -0.1vh;
    padding: 0.1vh;
    color:  #B0B3B8;
    font-weight: 300;
    font-size: 13px;
}

#main-post-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width:100%;
}   

#see-more{
    align-self: flex-end;
}

.data:hover{
    text-decoration: underline solid rgb(176, 179, 184); /* retirado do facebook, sabendo da função hover do css */
}

#user-title:hover{
    text-decoration: underline solid rgb(228, 230, 235);
}
/* serão 5 colunas no menu divididas igualmente, o post, como visto no teste no monitor, é dividido em 5 colunas, sendo que as 4 primeiras são ocupadas pela imagem e a última é ocupada pelo "post" */
/* no "menu", as 5 colunas são divididas da seguinte maneira: a primeira coluna tem o X e o logo do facebook, 2 colunas vazia, 1 coluna com as opções de iamgem e 1 coluna com as opções do facebook */

